
fs-creditcard .cc .icon.visa {
	background-image: url('/images/cards/visa.png');
}

fs-creditcard .cc .icon.amex {
	background-image: url('/images/cards/amex.png');
}

fs-creditcard .cc .icon.mastercard {
	background-image: url('/images/cards/mastercard.png');
}

fs-creditcard .cc .icon.unknown {
	background-image: url('/images/cards/unknown.png');
}

fs-creditcard .cc-cvc {
	width: 80px;
}


fs-creditcard .cc-number {
	position: relative;
	padding-right: 60px;
}

fs-creditcard .cc-number .icon {
	width: 48px;
    height: 29px;
    position: absolute;
    background-size: contain;
    right: 0;

}